# Copy to .env.local and fill in. NEVER commit real values.
MONGODB_URI=
NODE_ENV=dev
JWT_SECRET=
NEXT_PUBLIC_DEV_URL=
NEXT_PUBLIC_Chart_API_Python_Link=
NEXT_PUBLIC_CHIRPSTACK_APPLICATION_ID=
NEXT_PUBLIC_CHIRPSTACK_ORGANISATION_ID=
NEXT_PUBLIC_CHIRPSTACK_URL=
NEXT_PUBLIC_CHIRPSTACK_API_KEY_SECRET=
